langchain
langchain_community
langchain_openai
langchain_groq
python-dotenv
langchain-google-genai
langchain_ollama
langgraph
langsmith
langchain_tavily
langchain-mcp-adapters
mcp
langchain-core
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
typesense
